* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: sans-serif;
}

header {
    background: url("/landing.jpg") no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 700px;
}

.logo {
    display: block;
    color: white;
    font-size: 15px;
}

em {
    font-weight: 700;
}

.offers {
    justify-content: center;
    display: flex;
}

.column-2 {
    width: 25%;
    height: 250px;
}

.hpt {
    height: 50%;
}

.column {
    display: flex;
    flex-direction: column;
}

.column-2 {
    width: 25%;
    height: 250px;
}

.hpt {
    height: 50%;
}

.column {
    display: flex;
    flex-direction: column;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
}

.breakfast {
    background: url(/breakfast.jpg) no-repeat center;
    color: #fff;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}

.lunch {
    background: url(/lunch.jpg) no-repeat center;
    color: #fff;
    display: flex;
    justify-content: center;
    background-size: cover;
    align-items: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}

.dinner {
    background: url(/dinner.jpg) no-repeat center;
    color: #fff;
    display: flex;
    justify-content: center;
    background-size: cover;
    align-items: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}

#fast-food {
    display: flex;
    width: 70%;
    margin: 10% auto;
}

#images {
    flex-direction: column;
    display: flex;
    border: 10px solid #fff;
    box-shadow: 2px 2px 20px gray;
}

#description-1 {
    margin: 60px;
    font-size: 18px;
    margin-left: 5em;
}

h3 {
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    font-weight: 900;
    font-size: 38px;
    margin: 30px 0;
}

.viewing-1 {
    color: #f15a29;
    border: 1px solid #f15a29;
    font-weight: 700;
    padding: 1em 1em;
    border-radius: 5px;
    margin-top: 1em;
    text-transform: uppercase;
    width: 200px;
    position: absolute;
    display: block;
}

viewing-1 .fa {
    font-size: 18px;
}

.Drinks {
    display: flex;
}

.description-2 {
    display: flex;
    flex-direction: row-reverse;
}

.description-3 {
    text-align: right;
    width: 70%;
    margin: 0 auto;
    display: block;
}

#description-2 h3 {
    margin: 1.2em 0;
    font-size: 45px;
}

.drink-images {
    display: flex;
    border: 10px solid #fff;
    box-shadow: 2px 2px 20px gray;
}

.viewing-2 {
    position: absolute;
    left: 30%;
    color: #f15a29;
    border: 1px solid #f15a29;
    font-weight: 700;
    padding: 1em 1em;
    border-radius: 5px;
    margin-top: 1em;
    text-transform: uppercase;
    width: 200px;
    display: block;
    text-align: center;
    cursor: pointer;
}

.menu-bar {
    background: url(/foodsBg.jpg) no-repeat center;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    height: 680px;
}

.inner-menu {
    background: #fff;
    width: 60%;
    margin: 0 auto;
}

.our-food {
    display: flex;
}

.our-food li {
    width: 25%;
    list-style: none;
    text-align: center;
    padding-top: 25px;
    border: 1px solid rgba(128, 128, 128, 0.514);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

ul {
    display: block;
    list-style-type: disc;
}

.food-tab {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-right: 10px;
}

.reviews {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 250px;
    box-shadow: 2px 2px 20px gray;
    width: 70%;
    padding-left: 20%;
    margin-left: 15%;
}