* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: sans-serif;
}

header {
    background: url("/landing.jpg") no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 700px;
}

.logo {
    display: block;
    color: white;
    font-size: 15px;
}

em {
    font-weight: 700;
}

.offers {
    justify-content: center;
    display: flex;
}

.column-2 {
    width: 25%;
    height: 250px;
}

.hpt {
    height: 50%;
}

.column {
    display: flex;
    flex-direction: column;
}

.column-2 {
    width: 25%;
    height: 250px;
}

.hpt {
    height: 50%;
}

.column {
    display: flex;
    flex-direction: column;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
}

.breakfast {
    background: url(/breakfast.jpg) no-repeat center;
    color: #fff;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}

.lunch {
    background: url(/lunch.jpg) no-repeat center;
    color: #fff;
    display: flex;
    justify-content: center;
    background-size: cover;
    align-items: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}

.dinner {
    background: url(/dinner.jpg) no-repeat center;
    color: #fff;
    display: flex;
    justify-content: center;
    background-size: cover;
    align-items: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}

#fast-food {
    display: flex;
    width: 70%;
    margin: 10% auto;
}

#images {
    flex-direction: column;
    display: flex;
    border: 10px solid #fff;
    box-shadow: 2px 2px 20px gray;
}