* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: sans-serif;
}

header {
    background: url("/landing.jpg") no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 700px;
}

.logo {
    display: block;
    color: white;
    font-size: 15px;
}

em {
    font-weight: 700;
}

.offers {
    justify-content: center;
    display: flex;
}